body {
   display: flex;
   height: 100vh;
   margin: 0;
   padding: 0;
}

.left-container {
   flex: 1;
   width: 25vh;
   height: 100vh;
   background-color: antiquewhite;
   overflow:clip;
}
 
img {
   width: 100%;
   height: 100%;
   
}
 
.right-container {
   flex: 2;
   width: 75vh;
   height: 100vh; 
   background-color: #f8f8f8;
}

form {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.data-section {
   display: flex;
   gap: 90px;
}

.data-field {
   margin-bottom: 15px;
}

input {
   width: 250px;
   height: 20px;
}

.msg {
   width: 550px;
   font-weight: bold;
   font-size: 20px;
}

button {
   border-style: none;
   border-radius: 5px;
   width: 220px;
   height: 35px;
   padding: 5px;
   font-weight: bold;
   background-color: #596D48;
   color: white;
   cursor: pointer;
}

span {
   color: #596D48;
   font-weight: bold;
}

p {
   font-weight: bold;
}

input:focus {
   border-color: blue;
}

form > .data {
   background-color: rgb(255, 255, 255);
}

.msg,
.data,
.button {
   flex: 1;
}

p,
input,
label,
button {
   margin-left: 50px;
}

.data {
   border: 5px;
   box-shadow: 0 2px 5px rgb(181, 181, 181);
   margin-bottom: 40px;
}